.btn {
  background-color: transparent;
  color: #fff;
  border: solid 4px white;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.6rem 2.8rem;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $color-secondary;
    color: $color-grey-dark-1;
  }
}
