.carousel {
  background: $color-primary-dark;
}

.carousel-cell {
  width: 66%;
  height: 60rem;
  margin-right: 10px;
  background: $color-primary-dark;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  box-shadow: $shadow;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}
